BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: Always
ColumnLimit: 100
BreakBeforeBraces: Linux
IndentCaseLabels: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
AlignOperands: Align
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
BreakStringLiterals: false
SortIncludes: Never
ReflowComments: false
